<script sync>
  on.mount = (ctx, $) => {
    $.title = 'Puppies'
    if (ctx.session.user) $.admin = true

    return ctx.render($)
  }
</script>

<section class="container">
  <h1>About</h1>

  <p>Todo</p>
</section>
