<script sync>
  on.mount = (ctx, $) => {
    $.title = 'Contact'

    ctx.render($)
  }
</script>

<section class="container">
  <h1>Contact</h1>
  <p>Text or call us at <a href="tel:9187242125">(918) 724-2125</a></p>
  <p>
    <a href="mailto:faithfullyyourslabradors@gmail.com">faithfullyyourslabradors@gmail.com</a>
  </p>
</section>
