<script sync>
  const fetch = require('node-fetch')

  on.mount = async (ctx, $) => {
    $.counter = 1
    $.title = 'SyncJS'
    $.description = 'Behold! SyncJS!!!'
    let apiRes = await fetch(`http://ip-api.com/json`)
    let apiJson = await apiRes.json()
    $.state = apiJson.regionName
    return ctx.render($)
  }

  on.foo = (ctx, $) => {
    $.state = 'FOOOO!!!'
    ctx.setAttribute('#foo-btn', 'disabled')
    ctx.removeClass('#main-headline', '.text-blue-800')
    ctx.addClass('#main-headline', '.text-green-800')
    // return ctx.flash('animal', 'fish').redirect('/style')
    return ctx.render($, '#main-headline')
  }

  on.bar = (ctx, $) => {
    $.state = 'BAR!!!'
    ctx.removeClass('#main-headline', '.text-brand-1')
    ctx.addClass('#main-headline', '.text-blue-800')
    return ctx.render($, '#main-headline')
  }

  on.inc = (ctx, $) => {
    $.counter += 1
    ctx.removeAttribute('#foo-btn', '.disabled')
    return ctx.render($, '#counter')
  }

  on.dec = (ctx, $) => {
    $.counter -= 1
    return ctx.render($, '#counter')
  }
</script>

<div class="page">
  <p id="main-headline" class="text-5xl text-brand-1">Welcome, <strong><%= $.state %></strong> web devs!</p>
  <h4>Check it out 🧐</h4>
  <ol>
    <li>Edit <code>routes/_layout.html</code> and <code>routes/index.html</code> to change this page.</li>
    <li class="error-message">
      Look at the <code>&lt;script server&gt;</code> block at the top of <code>routes/index.html</code> to see how we
      guessed your region.
    </li>
  </ol>

  <h4>Insert an Admin user</h4>
  <ol>
    <li>Edit <code>.env</code> and follow instructions to add a session key and MongoDB connection.</li>
    <li>Run <code>npm run insert-admin</code> to create a new admin.</li>
    <li>Log into <a s-link href="/admin">/admin</a>.</li>
  </ol>

  <h4>Play with SyncJS live updates</h4>
  <section class="flex items-center gap-4">
    <button id="foo-btn" s-click="foo" name="i-am-foo">Foo!</button>
    <button s-click="bar">Bar!</button>
    <button s-click="dec">-</button>
    <button s-click="inc">+</button>
    <span id="counter" class="px-4 text-4xl font-bold"><%= $.counter %></span>
  </section>

  <h4 id="docs">Read the docs!</h4>
  <a s-link href="https://www.sanejs.dev/docs">https://www.sanejs.dev/docs</a>
</div>
