<script sync>
  on.mount = (ctx, $) => {
    $.title = 'Home'
    if (ctx.session.user) $.admin = true

    return ctx.render($)
  }
</script>

<section>
  <div class="h-72 md:h-[var(--hero-height)] bg-top-left bg-cover" style="background-image: url('/hero.webp')">
    <div class="relative h-full w-full hidden md:block">
      <div class="absolute inset-0 bg-dark-1 opacity-40"></div>
      <div class="flex flex-col justify-center items-center absolute inset-0 text-light-1">
        {{ partial "/_/header.ejs" }}
      </div>
    </div>
  </div>

  <div class="md:hidden">
    {{ partial "/_/header.ejs" }}

    <div class="h-20"></div>
  </div>
</section>
