<div class="text-center container">
  <h1>Faithfully Yours Labradors</h1>

  <div class="h-px bg-dark-1 md:bg-light-1"></div>

  <h4 class="mb-2">Purebred English Polar Bear White Labradors</h4>
  <h4 class="my-2">Purebred American Black/Yellow/Chocolate Labradors</h4>

  <div class="h-8"></div>

  <div class="flex justify-center gap-4">
    <a href="/puppies">
      <button>Find a puppy</button>
    </a>

    <a href="/contact">
      <button class="bg-light-1 text-brand-1">Talk to us</button>
    </a>
  </div>
</div>
