<div>
  <a class="nav-style" s-active-path href="/puppies">Puppies</a>
  <a class="nav-style" s-active-path href="/about">About</a>
  <a class="nav-style" s-active-path href="/reviews">Reviews</a>
  <a class="nav-style" s-active-path href="/contact">Contact</a>
</div>
