<h2>New Litter</h2>

<form s-submit="createLitter">
  <fieldset id="title-fs">
    <label for="title">Title</label>
    <input id="title" type="text" name="title" s-blur="validate" />
    <span class="invalid-message"><%= $._formErrors?.title %></span>
  </fieldset>

  <fieldset id="imageUrl-fs">
    <label for="imageUrl">Image Url</label>
    <input id="imageUrl" type="text" name="imageUrl" s-blur="validate" />
    <span class="invalid-message"><%= $._formErrors?.imageUrl %></span>
  </fieldset>

  <fieldset id="expectedCount-fs">
    <label for="expectedCount">Expected Count</label>
    <input id="expectedCount" type="number" name="expectedCount" s-blur="validate" />
    <span class="invalid-message"><%= $._formErrors?.expectedCount %></span>
  </fieldset>

  <div class="flex gap-4">
    <div class="flex-1"></div>

    <button s-click="cancelPanel" class="bg-light-1 text-brand-1">Cancel</button>
    <button type="submit">Save</button>
  </div>
</form>
